.DarkRed {
    color: #501F3A
}

.Pink {
    color: #CB2D6F
}

.Vanilla {
    color: #CCCCCC
}

.Cyan {
    color: #14A096
}

.DarkGreen {
    color: #0F292F
}

.monoFont{
    font-family: monospace;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display:flex;
    background-color: #181d24;
    color: #CCCCCC;
   }

   /* NAVBAR MENU */
   .menu {
    display: flex;
    font-size: 20px;
   }

   .menu ul:hover {
    border: 1px solid #34f8af;
   }
   
   .menu ul {
    padding: 5px 14px;
   }
   /*Test*/
   /* DROPDOWN MENU */
   .services {
    position:static; 
   }

   .dropdown {
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
   }

   .dropdown ul {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }

   .services:hover .dropdown {
    display: block;
   }
   